@{
    ViewData["Title"] = "Contact";
}
@* <script src="../../js/client/drupal.js" type="text/javascript"></script> *@
<style>
    ._error {
        width: 100%;
        font-size: 14px;
        font-style: italic;
        color: #e55637;
        margin-bottom: 0vh !important;
    }
</style>
@model post_office.Models.ContactModel
    <div style="top: 120px; position: absolute; position: fixed; z-index: 220; display: none;" class="col-12" id="message">
        <div style=" background: rgb(191 244 214 / 0.81); border-radius: 5px; border: 2px solid #75feb3; color: #04dd66;text-align:center;width:50%" class="container pt-2">
            <label id="msg_status">
                <i class="fa fa-check-circle" style="margin-right:0.3vw"></i> Sent successfully!
            </label>
        </div>
    </div>
<div id="content-wrapper" class="site-content-wrapper">
    <div id="content" class="site-content ">
        <div id="content-inner" class="site-content-inner ">
            <div id="primary" class="content-area  ">
                <main id="main" class="site-main" style="padding-top: 0;">
                    <article id="post-6602" class="post-6602 page type-page status-publish hentry">
                        <header class="single-entry-header themestek-hide">
                            <h2 class="entry-title">Contacts</h2>
                        </header><!-- .entry-header -->
                        <div class="entry-content">
                            <div class="vc_row-full-width vc_clearfix"></div>
                            <div class="themestek-row wpb_row vc_row-fluid vc_custom_1544783196132 themestek-total-col-3 themestek-zindex-0 vc_row container themestek-bgimage-position-center_center m-auto" style="padding-top: 250px;">
                                <div class="themestek-column wpb_column vc_column_container vc_col-sm-2 themestek-zindex-0">
                                    <div class="vc_column-inner  ">
                                        <div class="wpb_wrapper">
                                        </div>
                                    </div>
                                </div>
                                <div class="themestek-column wpb_column vc_column_container vc_col-sm-8 themestek-zindex-0">
                                    <div class="vc_column-inner  ">
                                        <div class="wpb_wrapper">
                                            <div class="themestek-element-heading-wrapper themestek-heading-inner themestek-element-align-center themestek-seperator-none ">
                                                <section class="themestek-vc_cta3-container">
                                                    <div class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-center themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
                                                        <div class="themestek-vc_cta3_content-container">
                                                            <div class="themestek-vc_cta3-content">
                                                                <div class="themestek-vc_cta3-content-header themestek-wrap">
                                                                    <div class="themestek-vc_cta3-headers themestek-wrap-cell">
                                                                        <h4 class="themestek-custom-heading ">
                                                                            CONTACT US
                                                                        </h4>
                                                                        <h2 class="themestek-custom-heading ">
                                                                            Drop us a
                                                                            line
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div> <!-- .themestek-element-heading-wrapper container -->

                                            @using (Html.BeginForm("SendContact", "Contact", FormMethod.Post, new { @class = "postoffice-form init" }))
                                            {
                                                @Html.ValidationMessageFor(d => d.name, "", new { @class = "_error" })
                                                @Html.TextBoxFor(d => d.name, new { @class = "postoffice-form-control postoffice-text mb-3", @type = "text", @placeholder = "Your Name", @size = "40" })

                                                @Html.ValidationMessageFor(d => d.email, "", new { @class = "_error" })
                                                @Html.TextBoxFor(d => d.email, new { @class = "postoffice-form-control postoffice-text mb-3", @type = "text", @placeholder = "Your Email", @size = "40" })

                                                @Html.ValidationMessageFor(d => d.phone, "", new { @class = "_error" })
                                                @Html.TextBoxFor(d => d.phone, new { @class = "postoffice-form-control postoffice-text mb-3", @type = "text", @placeholder = "Your Phone", @size = "40" })

                                                @Html.ValidationMessageFor(d => d.subject, "", new { @class = "_error" })
                                                @Html.TextBoxFor(d => d.subject, new { @class = "postoffice-form-control postoffice-text mb-3", @type = "text", @placeholder = "Subject", @size = "40" })

                                                @Html.ValidationMessageFor(d => d.message, "", new { @class = "_error" })
                                                @Html.TextAreaFor(d => d.message, new { @class = "postoffice-form-control postoffice-text mb-3", @type = "text", @placeholder = "Message", @style = "height:150px; paddding-top:15px;resize:none" })



                                                <button type="submit"
                                                        class="postoffice-form-control postoffice-submit col-12" id="btnSend">
                                                    SEND MESSAGE
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="themestek-column wpb_column vc_column_container vc_col-sm-2 themestek-zindex-0">
                                    <div class="vc_column-inner  ">
                                        <div class="wpb_wrapper">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="themestek-row wpb_row vc_custom_1544783217393 vc_row-has-fill themestek-total-col-1 themestek-zindex-0 vc_row container themestek-bgimage-position-center_center m-auto">
                                <div class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
                                    <div class="vc_column-inner  ">
                                        <div class="wpb_wrapper">
                                            <div class="themestek-row-inner vc_row wpb_row vc_inner vc_row-fluid vc_custom_1535192611352 themestek-zindex-0">
                                                <div class="themestek-column-inner wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="themestek-ihbox themestek-ihbox-style-6 themestek-ihbox-itype-icon ">
                                                                <div class="themestek-sbox-bgimage-layer themestek-bgimage-layer">
                                                                </div>
                                                                <div class="themestek-ihbox-wrapper-bg-layer themestek-bg-layer">
                                                                </div>
                                                                <div class="themestek-ihbox-inner">
                                                                    <div class="themestek-ihbox-icon">
                                                                        <div class="themestek-ihbox-icon-wrapper">
                                                                            <i class="themifyicon ti-location-pin"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="themestek-ihbox-contents">
                                                                        <div class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
                                                                            <div class="themestek-vc_cta3_content-container">
                                                                                <div class="themestek-vc_cta3-content">
                                                                                    <div class="themestek-vc_cta3-content-header themestek-wrap">
                                                                                        <div class="themestek-vc_cta3-headers themestek-wrap-cell">
                                                                                            <h2 class="themestek-custom-heading ">
                                                                                                Our Address
                                                                                            </h2>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="themestek-cta3-content-wrapper">
                                                                            2946
                                                                            Angus Road, NY
                                                                        </div>
                                                                    </div><!-- .themestek-ihbox-contents -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="themestek-column-inner wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0">
                                                    <div class="vc_column-inner  themestek-responsive-custom-20265015">

                                                        <div class="wpb_wrapper">
                                                            <div class="themestek-ihbox themestek-ihbox-style-6 themestek-ihbox-itype-icon ">
                                                                <div class="themestek-sbox-bgimage-layer themestek-bgimage-layer">
                                                                </div>
                                                                <div class="themestek-ihbox-wrapper-bg-layer themestek-bg-layer">
                                                                </div>
                                                                <div class="themestek-ihbox-inner">
                                                                    <div class="themestek-ihbox-icon">
                                                                        <div class="themestek-ihbox-icon-wrapper">
                                                                            <i class="themifyicon ti-headphone"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="themestek-ihbox-contents">
                                                                        <div class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
                                                                            <div class="themestek-vc_cta3_content-container">
                                                                                <div class="themestek-vc_cta3-content">
                                                                                    <div class="themestek-vc_cta3-content-header themestek-wrap">
                                                                                        <div class="themestek-vc_cta3-headers themestek-wrap-cell">
                                                                                            <h2 class="themestek-custom-heading ">
                                                                                                Phone Number
                                                                                            </h2>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="themestek-cta3-content-wrapper">
                                                                            +31
                                                                            123 456 7890 – Office
                                                                        </div>
                                                                    </div><!-- .themestek-ihbox-contents -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="themestek-column-inner wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0">
                                                    <div class="vc_column-inner  ">

                                                        <div class="wpb_wrapper">
                                                            <div class="themestek-ihbox themestek-ihbox-style-6 themestek-ihbox-itype-icon ">
                                                                <div class="themestek-sbox-bgimage-layer themestek-bgimage-layer">
                                                                </div>
                                                                <div class="themestek-ihbox-wrapper-bg-layer themestek-bg-layer">
                                                                </div>
                                                                <div class="themestek-ihbox-inner">
                                                                    <div class="themestek-ihbox-icon">
                                                                        <div class="themestek-ihbox-icon-wrapper">
                                                                            <i class="themifyicon ti-email"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="themestek-ihbox-contents">
                                                                        <div class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
                                                                            <div class="themestek-vc_cta3_content-container">
                                                                                <div class="themestek-vc_cta3-content">
                                                                                    <div class="themestek-vc_cta3-content-header themestek-wrap">
                                                                                        <div class="themestek-vc_cta3-headers themestek-wrap-cell">
                                                                                            <h2 class="themestek-custom-heading ">
                                                                                                Email Address
                                                                                            </h2>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="themestek-cta3-content-wrapper">
                                                                            contact@industco.ltd.com
                                                                        </div>
                                                                    </div><!-- .themestek-ihbox-contents -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--map-->
                            <section id="block-block-27" class="block block-block clearfix mb-5">
                                <iframe width="450" height="250" frameborder="0" style="border:0"
                                        referrerpolicy="no-referrer-when-downgrade"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBzyJ88ND_zuxZEV7tprTdCfDVHItXKdFs&q=Eiffel+Tower,Paris+France"
                                        allowfullscreen>
                                </iframe>
                            </section>
                            <!--end map-->
                        </div><!-- .entry-content -->
                    </article><!-- #post-## -->
                </main><!-- #main .site-main -->
            </div><!-- #primary .content-area -->
        </div><!-- .site-content-inner -->
    </div><!-- .site-content -->
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
     window.onload = function () {
         var mess = "@(post_office.Controllers.Client.ContactController.mess)";
         if (mess != "") {
             $("#message").css("display", "block");
             $("#message").delay(3000).fadeOut(300);
         }


           @{post_office.Controllers.Client.ContactController.mess= "";}

    }
</script>