@using post_office.Models 
<style>
    .active-nav{
        background:#7ac8ac;
        border-left:5px solid #c2f3e2;
    }
    ul {
        padding-left: 0 !important;
    }
</style>
<div class="logo-details"  >
    <img src="~/img/defaults/logo-light.png" class="col-9 container"  />

</div>
<ul class="nav-links" style="position:initial;margin-bottom:0">
    <li style="height: 65px; background-image: linear-gradient(rgb(255 230 114 / 0.75),rgb(251 211 31 / 0.96)) ">
        <div style="height:inherit; padding:13px 10px; width:22%;float:left">
            <span>
                <img src="~/img/AvtUser/@(AuthenticetionModel.avt!=""?AuthenticetionModel.avt:"default.png")" style="border-radius:50%; width:38px;height:38px;" />
            </span>
        </div>
        <div style="height:inherit; padding:11px 0 10px 5px; width:78%;float:left">
            <span style="font-size: 15px; color: #faf6e1; font-weight: 500; float: left; font-family: system-ui">@post_office.Models.AuthenticetionModel.name</span>
            <br>
            <span style="font-size: 12px; color: #faf4de; float: left; font-family: system-ui">
                @post_office.Models.AuthenticetionModel.roleName
                <span onclick="window.location.href='@Url.Action("MyAccount","Auth")'" style=" cursor: pointer">
                    <i style="color: #f9f3de;" id="mysetting" class="fa fa-cog"></i>
                </span>
            </span>

        </div>
    </li>
    </ul>
<ul class="nav-links" style="height:75vh;overflow-y:scroll;overflow-x:hidden" id="scroll-menu">

    <li>
        <a href="@Url.Action("Dashboard","Auth")" id="__dash" class="menu">
            <i class="fa fa-home icons"></i>
            <span class="links_name">Dashboard</span>
        </a>
    </li>
    @if (AuthenticetionModel.hasPermission("VIEW_USER"))
    {
        <li>
            <a id="__user" href="@Url.Action("Users","Auth")" class="menu">
                <i class="fa fa-user "></i>
                <span class="links_name">Users</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.roleName == "Super Admin")
    {
        <li>
            <a href="@Url.Action("Roles", "Auth")" id="__role" class="menu">
                <i class="fa fa-object-group icons"></i>
                <span class="links_name">Roles</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.hasPermission("VIEW_CUSTOMER"))
    {
        <li>
            <a id="__cus" href="@Url.Action("Customers", "Auth")" class="menu">

                <i class="fa fa-users "></i>
                <span class="links_name">Customers</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.hasPermission("VIEW_CONTACT"))
    {
        <li>
            <a id="__cont" href="@Url.Action("Contacts", "Auth")" class="menu">

                <i class="fa fa-address-book"></i>
                <span class="links_name">Contacts</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.hasPermission("VIEW_BILL"))
    {
        <li>
            <a id="__bills" href="@Url.Action("Bills", "Auth")" class="menu">

                <i class="fa fa-file "></i>
                <span class="links_name">Bills</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.roleName == "Super Admin")
    {
        <li>
            <a id="__branches" href="@Url.Action("Branches", "Auth")" class="menu">

                <i class="fa fa-object-ungroup "></i>
                <span class="links_name">Branches</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.hasPermission("VIEW_SERVICE"))
    {
        <li>
            <a id="__svc" href="@Url.Action("Service", "Auth")" class="menu">

                <i class="fa fa-truck "></i>
                <span class="links_name">Services</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.hasPermission("VIEW_PRODUCT_CATEGORY"))
    {
        <li>
            <a id="__pc" href="@Url.Action("ProductCategory", "Auth")" class="menu">
                <i class="fa fa-th-large"></i>
                <span class="links_name">Product categories</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.hasPermission("VIEW_PRODUCT"))
    {
        <li>
            <a id="__pd" href="@Url.Action("Products", "Auth")" class="menu">

                <i class="fa fa-product-hunt "></i>
                <span class="links_name">Products</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.hasPermission("VIEW_ATTRIBUTE"))
    {
        <li>
            <a id="__attr" href="@Url.Action("Attributes", "Auth")" class="menu">

                <i class="fa fa-flag "></i>
                <span class="links_name">Attributes</span>
            </a>
        </li>
    }
    @if (AuthenticetionModel.hasPermission("SETTING_TRANSPORT_FEE"))
    {
        <li>
            <a id="__spf" href="@Url.Action("SettingFee", "Auth")" class="menu">

                <i class="fa fa-balance-scale"></i>
                <span class="links_name">Setting transport fee</span>
            </a>
        </li>

    }

</ul>


<script type="text/javascript">

   
</script>