@{
	ViewData["Title"] = "Services";
	ViewData["BannerTitle"] = "Services";
}
<div id="content-wrapper" class="site-content-wrapper">
	<div id="content" class="site-content ">
		<div id="content-inner" class="site-content-inner ">
			<div id="primary" class="content-area  ">
				<main id="main" class="site-main">
					<article id="post-6698" class="post-6698 page type-page status-publish hentry">
						<header class="single-entry-header themestek-hide">
							<h2 class="entry-title">@ViewData["BannerTitle"]</h2>
						</header><!-- .entry-header -->
						<div class="entry-content">
							<div
								class="themestek-row wpb_row vc_row-fluid themestek-total-col-1 themestek-zindex-0 vc_row container themestek-bgimage-position-center_center m-auto">
								<div
									class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
									<div class="vc_column-inner  ">
										<div class="wpb_wrapper">
											<div
												class="themestek-boxes themestek-boxes-service themestek-boxes-view-default themestek-service-style-1 themestek-boxes-col-three themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton-">
												<div class="themestek-boxes-inner themestek-boxes-service-inner ">

													<div class="row multi-columns-row themestek-boxes-row-wrapper">
														<div
															class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 why-choose-us">
															<article
																class="themestek-box themestek-box-service themestek-servicebox-style-1">
																<div class="themestek-post-item">

																	<span class="themestek-item-thumbnail">
																		<span class="themestek-item-thumbnail-inner">
																			<img width="800" height="650"
																				src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/service-01-new-800x650.jpg"
																				class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																				alt="" loading="lazy" data-id="10024">
																		</span>
																	</span>
																	<div class="themestek-box-content">
																		<div class="themestek-box-content-inner">
																			<div class="themestek-pf-box-title">
																				<div class="ts-ihbox-icon">
																					<i
																						class="themestek-moversco-business-icon themestek-moversco-business-icon-shipping-and-delivery-1"></i>
																				</div>
																				<h3><a
																						href='@Url.ActionLink("Detail", "Service")'>Parcels
																						&amp; Mails</a></h3>
																				<div class="themestek-service-content">
																					<p>Extreme attention to detail is
																						the essence of Boo’s unique.</p>
																				</div>
																				<div class="themestek-box-link"><a
																						href='@Url.ActionLink("Detail", "Service")'>READ
																						MORE</a></div>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div
															class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 why-choose-us">
															<article
																class="themestek-box themestek-box-service themestek-servicebox-style-1">
																<div class="themestek-post-item">

																	<span class="themestek-item-thumbnail">
																		<span class="themestek-item-thumbnail-inner">
																			<img width="800" height="650"
																				src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/service-02-new-800x650.jpg"
																				class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																				alt="" loading="lazy" data-id="9996">
																		</span>
																	</span>
																	<div class="themestek-box-content">
																		<div class="themestek-box-content-inner">
																			<div class="themestek-pf-box-title">
																				<div class="ts-ihbox-icon">
																					<i
																						class="themestek-moversco-business-icon themestek-moversco-business-icon-headset-1"></i>
																				</div>
																				<h3><a
																						href='@Url.ActionLink("Detail", "Service")'>Every
																						Door Direct Mails</a></h3>
																				<div class="themestek-service-content">
																					<p>Extreme attention to detail is
																						the essence of Boo’s unique.</p>
																				</div>
																				<div class="themestek-box-link"><a
																						href='@Url.ActionLink("Detail", "Service")'>READ
																						MORE</a></div>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div
															class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 why-choose-us">
															<article
																class="themestek-box themestek-box-service themestek-servicebox-style-1">
																<div class="themestek-post-item">

																	<span class="themestek-item-thumbnail">
																		<span class="themestek-item-thumbnail-inner">
																			<img width="800" height="650"
																				src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/service-03-new-800x650.jpg"
																				class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																				alt="" loading="lazy" data-id="9997">
																		</span>
																	</span>
																	<div class="themestek-box-content">
																		<div class="themestek-box-content-inner">
																			<div class="themestek-pf-box-title">
																				<div class="ts-ihbox-icon">
																					<i
																						class="themestek-moversco-business-icon themestek-moversco-business-icon-house"></i>
																				</div>
																				<h3><a
																						href='@Url.ActionLink("Detail", "Service")'>Product
																						Samples</a></h3>
																				<div class="themestek-service-content">
																					<p>Extreme attention to detail is
																						the essence of Boo’s unique.</p>
																				</div>
																				<div class="themestek-box-link"><a
																						href='@Url.ActionLink("Detail", "Service")'>READ
																						MORE</a></div>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
													</div>
												</div><!-- .themestek-boxes-inner -->
											</div><!-- .themestek-boxes -->
										</div>
									</div>
								</div>
							</div>

						</div><!-- .entry-content -->
					</article><!-- #post-## -->
				</main><!-- #main .site-main -->
			</div><!-- #primary .content-area -->
		</div><!-- .site-content-inner -->
	</div><!-- .site-content -->
</div>