@{
    ViewData["Title"] = "Bill management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-12" style="display: table; background: white; top: 20px;box-shadow: rgb(248 242 225 / 0.92) 10px 10px 20px 5px; padding:20px">
    <h1>This is bill detail</h1>
    <table class="table" style=" border:2px solid #ddd;width:inherit" id="table-id">
        <tr style="color: white; background: #747583">
            <th><input type="checkbox" id="check-all" onclick="SelectAll(this)" /></th>
            <th>#</th>
            <th>Code</th>
            <th>Total</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @if (ViewBag.Bills.Count > 0)
        {
            int count = 1;
            @foreach (var item in ViewBag.Bills)
            {
                <tr class="table-item">
                    <td class="tbl-20"><input type="checkbox" class="sub-check"/></td>
                    <th scope="row">@count</th>
                    <td><a href='@Url.Action("BillDetail", "Bills", new {billId = item.Id})'>@item.Code</a>
                    </td>
                    <td>@item.Total.ToString("#,###", CultureInfo.GetCultureInfo("vi-VN").NumberFormat)</td>
                    <td>
                        <p class="mb-0">Name: <span>@item.SenderFirstName @item.SenderLastName</span></p>
                        <p class="mb-0">Address:
                            <span>@item.FromAddress, @item.FromWard, @item.FromCity, @item.FromProvince</span>
                        </p>
                    </td>
                    <td>
                        <p class="mb-0">Name: <span>@item.ReceiverFirstName @item.ReceiverLastName</span></p>
                        <p class="mb-0">Address:
                            <span>@item.ToAddress, @item.ToWard, @item.ToCity, @item.ToProvince</span>
                        </p>
                    </td>
                    <td>@item.CreatedAt?.ToString("dd/MM/yyyy")</td>
                    <td>@Helpers.CheckStatusValue(item.Status, "OrderStatus")</td>
                    <td class="tbl-180">

                        <span class="action-icon view view-product" style="padding:10px 5px 10px 10px">
                            <i class="fa fa-eye"></i>
                        </span>
                        @if (AuthenticetionModel.hasPermission("UPDATE_BILL"))
                        {
                            <span class="action-icon edit edit-product" style="padding:10px 5px 10px 10px">
                                <i class="fa fa-edit"></i>
                            </span>
                        }
                        @if (AuthenticetionModel.hasPermission("DELETE_BILL"))
                        {

                            <span class="action-icon delete delete-product">
                                <i class="fa fa-trash"></i>
                            </span>
                        }
                        </td>
                </tr>
                count++;
            }
        }else
        {
            <tr>
                <td colspan="7" class="text-center">No data</td>
            </tr>
        }
    </table>
</div>