@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Branch management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    post_office.Services.IBranchService brn = ViewBag.branchsvc;

}
@model post_office.Models.BranchModel
<div class="col-12" style="display: table; background: white; top: 20px;box-shadow: rgb(248 242 225 / 0.92) 10px 10px 20px 5px; padding:20px">
    <div style="height:50px;position:relative; padding:0">
        <button class="btn-action delete pl-2 pr-2" id="btnDelete" style="float:left;margin-right:1vw">Delete</button>
        <input class="input-search form-control" style="float:left;width:240px;" type="text" id="search-by-name" placeholder="Search by code, name, phone" />
        <button class="btn-action save pl-2 pr-2" id="btnCreate" style="float:right;">Create</button>
        <label class="text-color ml-3 mr-2" style="float: left; font-size: 13px">Search by status:</label>

        <select class="dropdownlist" style="float:left;width:100px;" id="search-by-status">
            <option value="-1">all</option>
            <option value="1">Activated</option>
            <option value="0">Deactivated</option>
        </select>
        <label class="text-color ml-3 mr-2" style="float: left; font-size: 13px">Search by province:</label>

        @Html.DropDownList("province", (IEnumerable<SelectListItem>)ViewBag.provinceList, null, new { @class = "dropdownlist", @style = "width:150px;", @id = "search-by-province" })
        <button class="btn-action edit pl-3 pr-3 ml-2" onclick="ClearFilter()"><i class="fa fa-repeat" style="font-size:18px"></i></button>
    </div>
    <table class="table" style=" border:2px solid #ddd;width:inherit" id="table-id">
        <tr style="color: white; background: #747583">
            <th><input type="checkbox" id="check-all" onclick="SelectAll(this)" /></th>
            <th>#</th>
            <th>Code</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @{int k = 1;}
        @foreach (var item in (List<post_office.Models.BranchModel>)ViewBag.data)
        {
            <tr class="table-item">
                <td class="tbl-20"><input type="checkbox" class="sub-check" post-item="post-@item.id" /></td>
                <td class="tbl-60">@k @{k++;} </td>
                <td class="tbl-150">@item.code</td>
                <td class="tbl-200">@item.name</td>
                <td class="tbl-120">@item.phone</td>
                <td class="tbl-170">@item.addressString</td>
                <td class="sts-item tbl-40" id="sts-">
                    @if (item.status == 1)
                    {<i class="fa fa-check-circle" style="color:#16e42c; font-size:20px;"></i> }
                    else
                    { <i class="fa fa-check-circle" style="color:#d6d2d2; font-size:20px;"></i>}
                </td>
                <td class="tbl-180">
                    <span oid="object-@item.id" class="action-icon edit edit-branch" style="padding:10px 5px 10px 10px">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span oid="object-@item.id" class="action-icon delete delete-branch">
                        <i class="fa fa-trash"></i>
                    </span>
                </td>
            </tr>

        }
        </table>
    <div class="pagination-container" style="cursor:pointer">
        <nav aria-label="Page navigation example" style="position:unset;box-shadow:none; background:none;padding:0">
            <ul class="pagination" id="paginations">
                <li class="page-item page-link" data-page="prev">&lt;</li>
                @for (int i = 1; i <= ViewBag.pagi; i++)
                {
                    if (i == 1)
                    {
                        <li class="page-item page-link" data-page="page-1" style="background:#ddd">@i</li>

                    }
                    else
                    {
                        <li class="page-item page-link" data-page="page-@i">@i</li>
                    }
                }
                <li class="page-item page-link" data-page="next">&gt;</li>
            </ul>
        </nav>
    </div>
</div>
<div id="view-main">
    <div id="view-sub" class="col-11">
        <div class="col-12" id="view-title">
            <label></label>
            <span style="float:right; cursor:pointer" id="CloseForm">
                <i class="fa fa-window-close" style="pointer-events:none;font-size:38px"></i>
            </span>
        </div>
        <div id="content">
            @using (Html.BeginForm("BranchCU", "Branch", FormMethod.Post, new { @id = "form-branch" }))
            {
                <div class="col-12" style="padding:20px;min-height:450px;display:table;">
                    <div class="col-6" style="border-right:3px solid #f4e8e4;min-height:inherit;float:left">
                        
                        <label class="text-color mt-2">Code:</label>
                        @Html.TextBoxFor(d => d.code, new { @class = "input-form-cu", @type = "text", @placeholder = "code" ,@id="ip-code"})
                        @Html.ValidationMessageFor(d => d.code, "", new { @class = "_error" })
                        <br />
                        <label class="text-color">Name:</label>
                        @Html.TextBoxFor(d => d.name, new { @class = "input-form-cu", @type = "text", @placeholder = "name", @id = "ip-name" })
                        @Html.ValidationMessageFor(d => d.name, "", new { @class = "_error" })
                        <br />
                        <label class="text-color">Phone:</label>
                        @Html.TextBoxFor(d => d.phone, new { @class = "input-form-cu", @type = "text", @placeholder = "phone", @id = "ip-phone" })
                        @Html.ValidationMessageFor(d => d.phone, "", new { @class = "_error" })
                        <br />
                        <label class="text-color">Status:</label>
                        @Html.DropDownListFor(model => model.status, new SelectList(ViewBag.ls_status, "Key", "Value"), new { @style = "", @class = "dropdownlist",  @id = "statusSlt" })

                    </div>
                    <div class="col-6" style="min-height:inherit;float:left">
                        <label class="text-color">Address:</label>
                        @Html.TextBoxFor(d => d.address, new { @class = "input-form-cu", @type = "text", @placeholder = "address" ,@id="ip-address"})
                        @Html.ValidationMessageFor(d => d.address, "", new { @class = "_error" })
                        <br />
                        <label class="text-color">Province:</label>
                        @Html.DropDownListFor(model => model.provinceId, (IEnumerable<SelectListItem>)ViewBag.provinceList, null, new { @class = "dropdownlist", @id = "provinceSlt" })
                        @Html.ValidationMessageFor(d => d.provinceId, "", new { @class = "_error" })
                        <br />
                        <label class="text-color">City:</label>
                        @Html.DropDownListFor(model => model.cityId, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select city" } }, new { @class = "dropdownlist", @id = "citySlt" })
                        @Html.ValidationMessageFor(d => d.cityId, "", new { @class = "_error" })
                        <br />
                        <label class="text-color">Ward :</label>
                        @Html.DropDownListFor(model => model.wardId, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select ward" } }, new { @class = "dropdownlist", @id = "wardSlt" })
                        @Html.ValidationMessageFor(d => d.wardId, "", new { @class = "_error" })
                        <br />
                    </div>
                </div>
                <div class="col-12" style=" min-height: 70px; border-radius: 0 0 5px 5px; text-align:center">
                    <button id="btnBranchSave" type="submit" class="save btn-action pl-4 pr-4 pt-2 pb-2">Save</button>
                    <a id="btnBranchCancel" onclick="ResetForm()" class="cancel btn-action ml-1" style="cursor:pointer; padding:12px 25px">Cancel</a>
                </div>
            }
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
    var pages = 1;
    function ClearFilter() {
        $("#search-by-province").val(0);
        $("#search-by-name").val("");
        $("#search-by-status").val(-1);
        SearchFilter(1);
    }
    window.onload = function () {

        var mess = "@(post_office.Controllers.Administrator.BranchController.mess)";
        if (mess == "Saved successfully!" || mess == "Deleted successfully!")
            ShowMessage(true, mess)
        else if (mess != "Saved successfully!" && mess != "")
            ShowMessage(false, mess)
           @{post_office.Controllers.Administrator.BranchController.mess = "";}
        $("#citySlt").attr("disabled","disabled")
        $("#wardSlt").attr("disabled","disabled")

    }
    $("#provinceSlt").change(function () {
        if ($(this).val() != 0) {
            LoadCity($(this).val(),0);
        } else {
            $("#citySlt").val(0);
            $("#wardSlt").val(0);
            $("#citySlt").attr("disabled", "disabled")
            $("#wardSlt").attr("disabled", "disabled")
        };
    });
    function LoadCity(id, slt) {
        $("#citySlt").removeAttr("disabled");

        $("#citySlt").find('option').not(':first').remove();
         var formData = new FormData();
            formData.append("stateID",id)
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCityByStateID", "Branch")",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (slt == data[i].Id) {
                            $("#citySlt").append('<option selected="selected" value="' + data[i].Id + '">' + data[i].Name + '</option>')
                            $("#citySlt").removeAttr("disabled");
                        }
                        else
                            $("#citySlt").append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>')

                    }

                }
            });
    }
    $("#citySlt").change(function () {
        if ($(this).val() != 0) {
            LoadWard($(this).val())
        } else {
            $("#wardSlt").val(0);
            $("#wardSlt").attr("disabled", "disabled")
        };
    });
    function LoadWard(id, slt) {
        $("#wardSlt").removeAttr("disabled");
        $("#wardSlt").find('option').not(':first').remove();
          var formData = new FormData();
            formData.append("cityID",id)
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetWardByCityID", "Branch")",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (slt == data[i].Id) {
                            $("#wardSlt").append('<option selected="selected" value="' + data[i].Id + '">' + data[i].Name + '</option>')
                        }
                        else
                            $("#wardSlt").append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>')


                    }

                }
            });
    }
    $("#btnCreate").click(function () {
        OpenForm("Create branch",0);
    });
    $('body').delegate('.edit-branch', 'click', function () {
        var id = $(this).attr("oid").replace("object-", "");
        OpenForm("Update branch",id)
    });
    function OpenForm(type, id) {
        $("#wardSlt").find('option').not(':first').remove();
        $("#citySlt").find('option').not(':first').remove();
        $("#provinceSlt").val(0);
        $("#ip-code").removeAttr("disabled");
        $("#wardSlt").attr("disabled", "disabled");
        $("#citySlt").attr("disabled", "disabled");


         if (id != 0) {

            var fdt = new FormData();
            fdt.append("id", id);
             $.ajax({
                type: "POST",
                url: "@Url.Action("GetBranch", "Branch")",
                data:fdt,
                processData: false,
                contentType: false,
                 success: function (data) {
                     LoadCity(data.provinceId, data.cityId);
                     LoadWard(data.cityId, data.wardId);
                     $("#statusSlt").val(data.status);
                     $("#ip-code").val(data.code);
                     $("#ip-code").attr("disabled", "disabled");
                     $("#ip-name").val(data.name);
                     $("#ip-address").val(data.address);
                     $("#ip-phone").val(data.phone);
                     $("#citySlt").val(data.cityId);
                     $("#wardSlt").val(data.wardId);
                     $("#provinceSlt").val(data.provinceId);

                }
            });
        }

        $("#view-main").css("display", "block");
        document.getElementById("view-title").children[0].innerHTML = type;


    }
    $("#CloseForm").click(function () {
        ResetForm();
    });

    function ResetForm() {
        CloseForm();
        @{post_office.Controllers.Administrator.BranchController._id = 0; }
        ResetValidate();
        $("#form-branch").trigger("reset");

    }
    $('#btnBranchSave').click(function () {
        ShowWaiting(1800);
        ShakeError();
    });
    $('body').delegate('.delete-branch', 'click', function () {
        if (confirm("Are you sure to delete this item?")) {
            var id = $(this).attr("oid").replace("object-", "");
            var fdt = new FormData();
            fdt.append("ls", id);
            DeleteBranch(fdt)
        }
    });

    $("#btnDelete").click(function () {
        if (CheckCheckbox()) {

            checkboxes = document.getElementsByClassName('sub-check');
            if (confirm("Are you sure to delete these item(s)?")) {
                var fdt = new FormData();

                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked == true) {
                        var r = $(checkboxes[i]).attr("post-item").replace("post-", "");
                        fdt.append("ls", r);
                    }
                }
                DeleteBranch(fdt);
                ResetCheckbox();
            }
        }
    });
    function DeleteBranch(formData) {
        localStorage.setItem("mySession", "__branches")
        localStorage.setItem("title", "BRANCHES")
         $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteBranches", "Branch")",
                data: formData,
                processData: false,
                contentType: false,
                 success: function () {
                                window.location.href = "@Url.Action("Index","Branch")"

                }
            });
    }
       $('body').delegate('.page-item', 'click', function () {

        var str = $(this).attr("data-page");

        var re = document.getElementsByClassName('page-item');
        for (var i = 0; i < re.length; i++) {
            $(re[i]).css("background", "#fafafa");
        }

        if (str == "prev"&&pages>=1) {

              if (pages ==1) {
                pages = 1;

            } else {
                pages -= 1;

            }

        } else if (str == "next" && pages <=@ViewBag.pagi) {
            if (pages ==@ViewBag.pagi) {
                pages = @ViewBag.pagi;

            } else {
                pages += 1;

            }


        } else {
            if (pages == parseInt(str.replace("page-", ""))) {
                pages = -1;
            } else {
                pages = parseInt(str.replace("page-", ""));
            }
            $(this).css("background", "#ddd");
        }
         SearchFilter(pages);


    });
    function LoadDataBranch( page,  cond,status,province) {

        if (page > 0 && page <=@ViewBag.pagi) {
            document.getElementById("check-all").checked = false;

            var r = document.getElementsByClassName('table-item');
            while (r.length > 0) {
                r[0].parentNode.removeChild(r[0]);
            }
            var formDT = new FormData();
            formDT.append("p", page);
            formDT.append("cond", cond);
            formDT.append("provinceId", province);
            formDT.append("status", status);
            var row = page == 1 ? 1 : 7 * (page - 1) + 1;
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadDataBranch", "Branch")",
                data: formDT,
                processData: false,
                contentType: false,
                success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            var str = '<i class="fa fa-check-circle" style="color:#16e42c; font-size:20px;"></i>';
                            if (data[i].status != 1) { str = '<i class="fa fa-check-circle" style="color:#d6d2d2; font-size:20px;"></i>'; }
                            var value = '<tr class="table-item"> <td class="tbl-20"><input type="checkbox" class="sub-check" post-item="post-'+data[i].id+'" /></td>'
                                + '<td class="tbl-60">' + row + '</td>  <td class="tbl-150">' + data[i].code + '</td> <td class="tbl-200">' + data[i].name + '</td>'
                                + '<td class="tbl-120">' + data[i].phone + '</td> <td class="tbl-170">' + data[i].addressString + '</td>  <td class="sts-item tbl-40" id="sts-">' + str + '</td> <td class="tbl-180"> <span oid="object-' + data[i].id + '" class="action-icon edit edit-branch" style="padding:10px 5px 10px 10px">'
                                            +'<i class="fa fa-edit"></i> </span> <span oid="object-'+data[i].id+'" class="action-icon delete delete-branch">'
                                            +'<i class="fa fa-trash"></i></span> </td> </tr>';

                            $("#table-id").append(value);
                            row = row + 1;


                        }


                    var f = new FormData();
                    f.append("cond", cond);
                    f.append("provinceId", province);
                    f.append("status", status);
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetCountBranch", "Branch")",
                        data: f,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            var fdt = new FormData();
                            fdt.append("i", data);
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("RowEvent", "Branch")",
                                data: fdt,
                                processData: false,
                                contentType: false,
                                success: function (dt) {
                                    var r = document.getElementsByClassName('page-item');
                                    while (r.length > 0) {
                                        r[0].parentNode.removeChild(r[0]);
                                    }
                                    var strs = "";
                                    for (var j = 1; j <= dt; j++) {
                                        if (j == page) {
                                            strs += '<li class="page-item page-link" data-page="page-'+j+'" style="background:#ddd">' + j + '</li>';

                                        }
                                        else {
                                            strs += '<li class="page-item page-link" data-page="page-' + j + '">' + j + '</li>'
                                        }
                                    }
                                    $("#paginations").append('<li class= "page-item page-link" data-page="prev" >&lt;</li > ' + strs + '<li class= "page-item page-link" data-page="next"  >&gt;</li>');

                                }
                            });

                        }

                    });
                }
            });

        }
    }

    $("#search-by-name").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            SearchFilter(1);

        }

    });
    $("#search-by-province").change(function () {
        SearchFilter(1);

    });
    $("#search-by-status").change(function () {
        SearchFilter(1);
    });
    function SearchFilter(page) {
        ShowWaiting(800);
        var province = $("#search-by-province").val();
        var nameSearch = $("#search-by-name").val();
        var selectStatus = $("#search-by-status").val();
        LoadDataBranch(page, nameSearch, selectStatus, province);
}
</script>