@{
    ViewData["Title"] = "Blog";
    ViewData["BannerTitle"] = "Blog";
}
<div id="content-wrapper" class="site-content-wrapper">
    <div id="content" class="site-content ">
        <div id="content-inner" class="site-content-inner ">
            <div id="primary" class="content-area  ">
                <main id="main" class="site-main">
                    <article id="post-6642" class="post-6642 page type-page status-publish hentry">
                        <header class="single-entry-header themestek-hide">
                            <h2 class="entry-title">@ViewData["BannerTitle"]</h2>
                        </header><!-- .entry-header -->
                        <div class="entry-content">
                            <div data-vc-full-width="true" data-vc-full-width-init="true"
                                class="themestek-row wpb_row vc_row-fluid themestek-total-col-1 themestek-zindex-0 themestek-bgimage-position-center_center"
                                style="position: relative; left: 0px; box-sizing: border-box; width: 1440px; padding-left: 0px; padding-right: 0px;">
                                <div class="vc_row container">
                                    <div
                                        class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
                                        <div class="vc_column-inner  ">
                                            <div class="wpb_wrapper">
                                                <div
                                                    class="themestek-boxes themestek-boxes-blog themestek-boxes-view-default themestek-blog-style-3 themestek-boxes-col-three themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton-">
                                                    <div class="themestek-boxes-inner themestek-boxes-blog-inner ">

                                                        <div class="row multi-columns-row themestek-boxes-row-wrapper">
                                                            <div
                                                                class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 international-moving">
                                                                <article
                                                                    class="themestek-box themestek-box-blog themestek-blogbox-style-3 themestek-blogbox-format- ">
                                                                    <div class="post-item">
                                                                        <div class="themestek-blog-image-with-meta">
                                                                            <div
                                                                                class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
                                                                                <img width="1200" height="800"
                                                                                    src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/blog-01-new.jpg"
                                                                                    class="attachment-themestek-img-800x700 size-themestek-img-800x700 wp-post-image"
                                                                                    alt=""></div>
                                                                            <div class="themestek-meta-date">
                                                                                <span>Aug</span>08</div>
                                                                        </div>
                                                                        <div class="themestek-box-content">
                                                                            <div class="themestek-box-title">
                                                                                <h4><a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Our
                                                                                        Home Entertainment has Evolved
                                                                                        Significantly</a></h4>
                                                                            </div>
                                                                            <div class="ts-blogbox-readmore">
                                                                                <div
                                                                                    class="themestek-blogbox-footer-left">
                                                                                    <a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Read
                                                                                        More</a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </div>
                                                            <div
                                                                class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 international-moving">
                                                                <article
                                                                    class="themestek-box themestek-box-blog themestek-blogbox-style-3 themestek-blogbox-format-image ">
                                                                    <div class="post-item">
                                                                        <div class="themestek-blog-image-with-meta">
                                                                            <div
                                                                                class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-image">
                                                                                <img width="1200" height="800"
                                                                                    src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/blog-02-new.jpg"
                                                                                    class="attachment-themestek-img-800x700 size-themestek-img-800x700 wp-post-image"
                                                                                    alt=""></div>
                                                                            <div class="themestek-meta-date">
                                                                                <span>Feb</span>18</div>
                                                                        </div>
                                                                        <div class="themestek-box-content">
                                                                            <div class="themestek-box-title">
                                                                                <h4><a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>These
                                                                                        Are The Voyages of The Starship
                                                                                        Enterprise</a></h4>
                                                                            </div>
                                                                            <div class="ts-blogbox-readmore">
                                                                                <div
                                                                                    class="themestek-blogbox-footer-left">
                                                                                    <a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Read
                                                                                        More</a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </div>
                                                            <div
                                                                class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 transports-takecare">
                                                                <article
                                                                    class="themestek-box themestek-box-blog themestek-blogbox-style-3 themestek-blogbox-format- ">
                                                                    <div class="post-item">
                                                                        <div class="themestek-blog-image-with-meta">
                                                                            <div
                                                                                class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
                                                                                <img width="1200" height="800"
                                                                                    src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/blog-03-new.jpg"
                                                                                    class="attachment-themestek-img-800x700 size-themestek-img-800x700 wp-post-image"
                                                                                    alt=""></div>
                                                                            <div class="themestek-meta-date">
                                                                                <span>Jan</span>21</div>
                                                                        </div>
                                                                        <div class="themestek-box-content">
                                                                            <div class="themestek-box-title">
                                                                                <h4><a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Three
                                                                                        Reasons Visibility Matters in
                                                                                        Supply Chain</a></h4>
                                                                            </div>
                                                                            <div class="ts-blogbox-readmore">
                                                                                <div
                                                                                    class="themestek-blogbox-footer-left">
                                                                                    <a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Read
                                                                                        More</a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </div>
                                                            <div
                                                                class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 international-moving relocation-moving">
                                                                <article
                                                                    class="themestek-box themestek-box-blog themestek-blogbox-style-3 themestek-blogbox-format- ">
                                                                    <div class="post-item">
                                                                        <div class="themestek-blog-image-with-meta">
                                                                            <div
                                                                                class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
                                                                                <img width="1200" height="800"
                                                                                    src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/service-03-new.jpg"
                                                                                    class="attachment-themestek-img-800x700 size-themestek-img-800x700 wp-post-image"
                                                                                    alt=""></div>
                                                                            <div class="themestek-meta-date">
                                                                                <span>Sep</span>29</div>
                                                                        </div>
                                                                        <div class="themestek-box-content">
                                                                            <div class="themestek-box-title">
                                                                                <h4><a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Its
                                                                                        Mission Explore Strange to the
                                                                                        New Worlds</a></h4>
                                                                            </div>
                                                                            <div class="ts-blogbox-readmore">
                                                                                <div
                                                                                    class="themestek-blogbox-footer-left">
                                                                                    <a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Read
                                                                                        More</a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </div>
                                                            <div
                                                                class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 relocation-moving">
                                                                <article
                                                                    class="themestek-box themestek-box-blog themestek-blogbox-style-3 themestek-blogbox-format- ">
                                                                    <div class="post-item">
                                                                        <div class="themestek-blog-image-with-meta">
                                                                            <div
                                                                                class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
                                                                                <img width="1200" height="800"
                                                                                    src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/blog-05-new.jpg"
                                                                                    class="attachment-themestek-img-800x700 size-themestek-img-800x700 wp-post-image"
                                                                                    alt=""></div>
                                                                            <div class="themestek-meta-date">
                                                                                <span>Sep</span>27</div>
                                                                        </div>
                                                                        <div class="themestek-box-content">
                                                                            <div class="themestek-box-title">
                                                                                <h4><a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Parking
                                                                                        Shortage Worsens in Every City
                                                                                        Nowadays</a></h4>
                                                                            </div>
                                                                            <div class="ts-blogbox-readmore">
                                                                                <div
                                                                                    class="themestek-blogbox-footer-left">
                                                                                    <a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Read
                                                                                        More</a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </div>
                                                            <div
                                                                class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 transports-takecare">
                                                                <article
                                                                    class="themestek-box themestek-box-blog themestek-blogbox-style-3 themestek-blogbox-format- ">
                                                                    <div class="post-item">
                                                                        <div class="themestek-blog-image-with-meta">
                                                                            <div
                                                                                class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
                                                                                <img width="1200" height="800"
                                                                                    src="https://moversco.themestek.com/demo6/wp-content/uploads/sites/9/2021/01/blog-06-new.jpg"
                                                                                    class="attachment-themestek-img-800x700 size-themestek-img-800x700 wp-post-image"
                                                                                    alt=""></div>
                                                                            <div class="themestek-meta-date">
                                                                                <span>Sep</span>23</div>
                                                                        </div>
                                                                        <div class="themestek-box-content">
                                                                            <div class="themestek-box-title">
                                                                                <h4><a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Truckers
                                                                                        to Seek HOS Waiver to the Ease
                                                                                        Calif</a></h4>
                                                                            </div>
                                                                            <div class="ts-blogbox-readmore">
                                                                                <div
                                                                                    class="themestek-blogbox-footer-left">
                                                                                    <a
                                                                                        href='@Url.ActionLink("Detail", "Blog")'>Read
                                                                                        More</a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </div>
                                                        </div>
                                                    </div><!-- .themestek-boxes-inner -->
                                                </div><!-- .themestek-boxes -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row-full-width vc_clearfix"></div>
                        </div><!-- .entry-content -->
                    </article><!-- #post-## -->
                </main><!-- #main .site-main -->
            </div><!-- #primary .content-area -->
        </div><!-- .site-content-inner -->
    </div><!-- .site-content -->
</div>