<header id="masthead" class=" themestek-header-style-6 themestek-main-menu-total-6">
    <div class="themestek-header-block  themestek-mmenu-active-color-skin themestek-dmenu-active-color-skin">
        <div class="themestek-search-overlay">
            <div class="themestek-icon-close"></div>
            <div class="themestek-search-outer">
                <div class="themestek-search-logo">
                    <img src="../../img/defaults/logo.png"/>
                </div>
                <form method="get" class="themestek-site-searchform" action="https://moversco.themestek.com/demo6">
                    <input type="search" class="field searchform-s" name="s" placeholder="Type Word Then Press Enter" />
                    <button type="submit"><span class="themestek-moversco-icon-search"></span></button>
                </form>
            </div>
        </div>
        <div id="themestek-stickable-header-w" class="themestek-stickable-header-w themestek-bgcolor-transparent"
            style="height:115px">
            <div id="site-header"
                class="site-header themestek-bgcolor-transparent themestek-sticky-bgcolor-white themestek-mmmenu-override-yes themestek-above-content-yes  themestek-stickable-header">
                <div class="site-header-main themestek-table container">
                    <div class="site-branding themestek-table-cell">
                        <div class="headerlogo themestek-logotype-image themestek-stickylogo-no">
                            <h1 class="site-title">
                                <a class="home-link" href='@Url.ActionLink("Index", "Home")'
                                    title="MoversCO Demo 6"></a>
                                <span class="align-items-center d-flex themestek-sc-logo themestek-sc-logo-type-image"
                                    style="height: 100%;">
                                    <img src="../../img/defaults/logo.png"
                                        style="max-height: 60px !important;height: 100%;">
                                </span>
                                </a>
                            </h1>
                            <h2 class="site-description">Movers, Relocation, Transport &amp; Packers WordPress Theme
                            </h2>
                        </div>
                    </div><!-- .site-branding -->
                    <div id="site-header-menu" class="site-header-menu themestek-table-cell">
                        <nav id="site-navigation" class="main-navigation" aria-label="Primary Menu"
                            data-sticky-height="90">
                            @* <div class="themestek-header-icons ">
                                <span class="themestek-header-icon themestek-header-search-link">
                                    <a href="#">
                                        <i class="themestek-moversco-icon-search-2"></i>
                                    </a>
                                </span>
                            </div> *@
                            <button id="menu-toggle" class="menu-toggle">
                                <span class="themestek-hide">Toggle menu</span>
                                <i class="themestek-moversco-icon-bars"></i>
                            </button>
                            <div class="nav-menu">
                                <ul id="menu-main-menu" class="nav-menu">
                                   
                                    <li>
                                        <a href="#">Send</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href='@Url.ActionLink("Tracking", "Send")'>Tracking</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Send")'>Schedule an order</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("PinCode", "Send")'>Find Pin Code</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Send")'>Request a Refund</a>
                                            </li>
                                        </ul>
                                    </li>
                                    @* <li>
                                        <a href="#">Receive</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="https://moversco.themestek.com/demo6/projects-style-1/">Informed
                                                    Delivery</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Tracking", "Send")'>Tracking</a>
                                            </li>
                                            <li>
                                                <a href="#">Intercept
                                                    a Package</a>
                                            </li>
                                            <li>
                                                <a href="#">Schedule
                                                    a Redelivery</a>
                                            </li>
                                            <li>
                                                <a
                                                    href="#">Request
                                                    a Refund</a>
                                            </li>
                                        </ul>
                                    </li> *@
                                    <li>
                                        <a href="#">Products</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Product")'>Stamps</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Product")'>Supplies</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Product")'>Cards & Envelopes</a>
                                            </li>
                                        </ul>
                                    </li>
                                    @* <li>
                                        <a href='@Url.ActionLink("Index", "Blog")'>Blog</a>
                                    </li> *@
                                    <li>
                                        <a href='@Url.ActionLink("Index", "Contact")'>Contacts</a>
                                    </li>
                                    <li id="btn-signin-signup">
                                        @if(HttpContextAccessor.HttpContext.Session.GetInt32("CustomerId") == null){
                                            <a class="align-items-center d-flex"
                                                href='@Url.ActionLink("SignIn", "Authentication")'>
                                                <p class="m-0" id="customer-name">Sign In/Sign up</p>
                                            </a>
                                        } else {
                                            var img = @HttpContextAccessor.HttpContext.Session.GetString("CustomerAvatar") ?? "../../img/defaults/no-avatar.jpeg";
                                            <a class="align-items-center d-flex">
                                                <img src='@img' width="30" height="30"
                                                                style="border-radius: 50px;" class="mr-2">
                                                <p class="m-0" id="customer-name">@HttpContextAccessor.HttpContext.Session.GetString("CustomerName")</p>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href='@Url.ActionLink("MyAccount", "Customer")'>My Profile</a></li>
                                                <li>
                                                    <form action='@Url.ActionLink("SignOutAction", "Authentication")' method="post">
                                                        <button class="btn text-capitalize" type="submit"
                                                                style="font-family: &quot;Biryani&quot;, Arial, Helvetica, sans-serif;font-size: 14px;letter-spacing: initial;font-weight: 600;">
                                                            Sign Out</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        }
                                    </li>
                                    <li style="width: 200px;" id="choose-branch">
                                        <a class="align-items-center d-flex" href="#">
                                            <i class="fa-solid fa-location-dot mb-1 mr-1"></i>
                                            <p class="limit-text m-0" id="choose-branch"
                                                style="font-size: 14px;line-height: 27px;height: 25px; -webkit-line-clamp: 2;">
                                                Choose branch</p>
                                        </a>
                                        <ul class="sub-menu" style="width: 300px;left: -75px;">
                                            <li id="title-location" class="d-flex">
                                                <button style="background-color: transparent;border-color: transparent;width: 35%;" class="p-0">
                                                   <i class="fa-solid fa-chevron-left" style="color: #ffdc39;font-size: 10px;"></i>
                                                </button>
                                                <p class="text-white" style="font-size: 14px;padding-top: 15px;width: 100%;"></p>
                                            </li>
                                            <li style="padding: 0 15px;" id="search-location">
                                                <input type="text" placeholder="Search" style="padding: 10px;"
                                                    id="location-search" onkeyup="onSearchLocation()">
                                            </li>
                                            <div style="overflow: hidden scroll;height: 135px; color: white;" id="location-list">
                                                
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav><!-- .main-navigation -->
                    </div><!-- .site-header-menu -->
                </div><!-- .site-header-main -->
            </div>
        </div>
        <script type="text/javascript" src="../../js/client/client-cookies.js"></script>
        @{
            var title = ViewData["Title"].ToString();
        }
        @switch (title)
        {
            case "Home":
                <partial name="_Slider.cshtml" />
                break;
            case "Services":
            case "Blog":
            case "Product":
            case "Pickup":
            case "Tracking":
            case "PinCode":
                <partial name="_Banner.cshtml" />
                break;
            case "Profile":
            case "Bill Detail":
                <partial name="_BannerMyProfile.cshtml" />
                break;
        }
    </div>
    <script type="text/javascript" src="../../js/client/location-address.js"></script>
</header><!-- .site-header -->
