<header id="masthead" class=" themestek-header-style-6 themestek-main-menu-total-6">
    <div class="themestek-header-block  themestek-mmenu-active-color-skin themestek-dmenu-active-color-skin">
        <div class="themestek-search-overlay">
            <div class="themestek-icon-close"></div>
            <div class="themestek-search-outer">
                <div class="themestek-search-logo">
                    <img src="../../img/defaults/logo-white.png" alt="MoversCO Demo 6" />
                </div>
                <form method="get" class="themestek-site-searchform" action="https://moversco.themestek.com/demo6">
                    <input type="search" class="field searchform-s" name="s" placeholder="Type Word Then Press Enter" />
                    <button type="submit"><span class="themestek-moversco-icon-search"></span></button>
                </form>
            </div>
        </div>
        <div id="themestek-stickable-header-w" class="themestek-stickable-header-w themestek-bgcolor-transparent"
            style="height:115px">
            <div id="site-header"
                class="site-header themestek-bgcolor-transparent themestek-sticky-bgcolor-white themestek-mmmenu-override-yes themestek-above-content-yes  themestek-stickable-header">
                <div class="site-header-main themestek-table container">
                    <div class="site-branding themestek-table-cell">
                        <div class="headerlogo themestek-logotype-image themestek-stickylogo-no">
                            <h1 class="site-title">
                                <a class="home-link" href='@Url.ActionLink("Index", "Home")'
                                    title="MoversCO Demo 6"></a>
                                <span class="align-items-center d-flex themestek-sc-logo themestek-sc-logo-type-image"
                                    style="height: 100%;">
                                    <img src="../../img/defaults/logo.png"
                                        style="max-height: 60px !important;height: 100%;">
                                </span>
                                </a>
                            </h1>
                            <h2 class="site-description">Movers, Relocation, Transport &amp; Packers WordPress Theme
                            </h2>
                        </div>
                    </div><!-- .site-branding -->
                    <div id="site-header-menu" class="site-header-menu themestek-table-cell">
                        <nav id="site-navigation" class="main-navigation" aria-label="Primary Menu"
                            data-sticky-height="90">
                            <div class="themestek-header-icons ">
                                <span class="themestek-header-icon themestek-header-search-link">
                                    <a href="#">
                                        <i class="themestek-moversco-icon-search-2"></i>
                                    </a>
                                </span>
                            </div>
                            <button id="menu-toggle" class="menu-toggle">
                                <span class="themestek-hide">Toggle menu</span>
                                <i class="themestek-moversco-icon-bars"></i>
                            </button>
                            <div class="nav-menu">
                                <ul id="menu-main-menu" class="nav-menu">
                                    <li class="current-menu-ancestor">
                                        <a href='@Url.ActionLink("Index", "Service")'>Services</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href='@Url.ActionLink("Detail", "Service")'>Parcels & Mails</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Detail", "Service")'>Every Door Direct
                                                    Mails</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Detail", "Service")'>Product Samples</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Send</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href='@Url.ActionLink("Tracking", "Send")'>Tracking</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Send")'>Schedule an order</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("PinCode", "Send")'>Find Pin Code</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Send")'>Request a Refund</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Receive</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="https://moversco.themestek.com/demo6/projects-style-1/">Informed
                                                    Delivery</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Tracking", "Send")'>Tracking</a>
                                            </li>
                                            <li>
                                                <a href="https://moversco.themestek.com/demo6/projects-style-3/">Intercept
                                                    a Package</a>
                                            </li>
                                            <li>
                                                <a href="https://moversco.themestek.com/demo6/projects-style-3/">Schedule
                                                    a Redelivery</a>
                                            </li>
                                            <li>
                                                <a
                                                    href="https://moversco.themestek.com/demo6/project/office-furniture-moving/">Request
                                                    a Refund</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Products</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Product")'>Stamps</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Product")'>Supplies</a>
                                            </li>
                                            <li>
                                                <a href='@Url.ActionLink("Index", "Product")'>Cards & Envelopes</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href='@Url.ActionLink("Index", "Blog")'>Blog</a>
                                    </li>
                                    <li>
                                        <a href='@Url.ActionLink("Index", "Contact")'>Contacts</a>
                                    </li>
                                    <li id="btn-signin-signup">
                                        <a class="align-items-center d-flex"
                                            href='@Url.ActionLink("SignIn", "Authentication")'>
                                            <p class="m-0" id="customer-name">Sign In/Sign up</p>
                                        </a>
                                    </li>
                                    <script type="text/javascript">
                                        let customer = JSON.parse(localStorage.getItem('user_data'))
                                        if (customer) {
                                            $('#btn-signin-signup').children('a').attr('href', '')
                                            let dropdown = `<ul class="sub-menu">
                                                                <li>
                                                                    <a href='@Url.ActionLink("MyAccount", "Customer")'>My Profile</a></li>
                                                                <li>
                                                                    <a href id="btn-sign-out">Sign Out</a></li>
                                                            </ul>`
                                            let avatar = `<img src="${customer.avatar ?? "../../img/defaults/no-avatar.jpeg"}" width="30" height="30"
                                                                style="border-radius: 50px;" class="mr-2">`
                                            $('#btn-signin-signup').append(dropdown)
                                            $('#btn-signin-signup').children('a').prepend(avatar)
                                            $('#customer-name').text(customer.firstName + " " + customer.lastName)
                                            $('#btn-sign-out').on('click', () => {
                                                localStorage.removeItem('user_data')
                                                window.location.href = "/"
                                                $('#btn-signin-signup').children('ul').remove()
                                                $('#btn-signin-signup').children('a').empty()
                                                let p = `<p class="m-0" id="customer-name">Sign In/Sign up</p>`
                                                $('#btn-signin-signup a').append(p)
                                            })
                                        }
                                    </script>
                                    <li style="width: 200px;" id="choose-branch">
                                        <a class="align-items-center d-flex" href="#">
                                            <i class="fa-solid fa-location-dot mb-1 mr-1"></i>
                                            <p class="limit-text m-0" id="choose-branch"
                                                style="font-size: 14px;line-height: 27px;height: 25px; -webkit-line-clamp: 2;">
                                                Choose branch</p>
                                        </a>
                                        <ul class="sub-menu" style="width: 300px;left: -75px;">
                                            <li id="title-location" class="d-flex">
                                                <button style="background-color: transparent;border-color: transparent;width: 35%;" class="p-0">
                                                   <i class="fa-solid fa-chevron-left" style="color: #ffdc39;font-size: 10px;"></i>
                                                </button>
                                                <p class="text-white" style="font-size: 14px;padding-top: 15px;width: 100%;"></p>
                                            </li>
                                            <li style="padding: 0 15px;" id="search-location">
                                                <input type="search" placeholder="Search" style="padding: 10px;"
                                                    id="search-location">
                                            </li>
                                            <div style="overflow: hidden scroll;height: 135px; color: white;" id="location-list">
                                                
                                            </div>
                                        </ul>
                                    </li>
                                    <script src="../../js/client/location-address.js"></script>
                                </ul>
                            </div>
                        </nav><!-- .main-navigation -->
                    </div><!-- .site-header-menu -->
                </div><!-- .site-header-main -->
            </div>
        </div>
        @{
            var title = ViewData["Title"].ToString();
        }
        @switch (title)
        {
            case "Home":
                <partial name="_Slider.cshtml" />
                break;
            case "Services":
            case "Blog":
            case "Product":
            case "Pickup":
            case "Tracking":
            case "PinCode":
                <partial name="_Banner.cshtml" />
                break;
            case "Profile":
                <partial name="_BannerMyProfile.cshtml" />
                break;
        }
    </div>
</header><!-- .site-header -->
