@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Customer management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model post_office.Models.CustomerModel

<div class="col-12" style="display: table; background: white; top: 20px;box-shadow: rgb(248 242 225 / 0.92) 10px 10px 20px 5px; padding:20px">
    <div style="height:50px;position:relative; padding:0">
        @if (AuthenticetionModel.hasPermission("UPDATE_CUSTOMER"))
        {
            <button class="btn-action delete p-2 mr-1" id="btnDeactivated" style="float:left;font-size:13px">Deactivated</button>
            <button class="btn-action save p-2 mr-1" id="btnActivated" style="float: left; font-size: 13px">Activated</button>
        }
        <input class="input-search form-control" style="float:left;width:380px;" type="text" placeholder="Search by name, phone, email" id="search-by-name" />
        <label class="text-color ml-5 mr-3" style="float:left">Search by status:</label>
        <select class="dropdownlist" style="float:left;width:135px;" id="search-by-status">
            <option value="-1">all</option>
            <option value="1">Activated</option>
            <option value="0">Deactivated</option>
        </select>
        <button class="btn-action edit pl-2 pr-2 ml-2" onclick="ClearFilter()"><i class="fa fa-repeat" style="font-size:18px"></i></button>
    </div>
    <table class="table" style=" border:2px solid #ddd;width:inherit" id="table-id">
        <tr style="color: white; background: #747583">
            <th><input type="checkbox" id="check-all" onclick="SelectAll(this)" /></th>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @{int k = 1;}
        @foreach (var item in (List<post_office.Models.CustomerModel>)ViewBag.lsCus)
        {
            <tr class="table-item">
                <td class="tbl-10"><input type="checkbox" class="sub-check" post-item="post-@item.Id" /></td>
                <td class="tbl-60">@k @{k++;}</td>
                <td class="tbl-180">@item.FirstName</td>
                <td class="tbl-180">@item.LastName</td>
                <td class="tbl-150">@item.Phone</td>
                <td class="tbl-150">@item.Email</td>
                <td class="tbl-110">@(((DateTime)item.CreatedAt).ToString("dd/MM/yyyy HH:mm"))</td>
                <td class="sts-item tbl-40" id="sts-">
                    @if (item.Status == 1)
                    {<i class="fa fa-check-circle" style="color:#16e42c; font-size:20px;"></i> }
                    else
                    { <i class="fa fa-check-circle" style="color:#d6d2d2; font-size:20px;"></i>}
                </td>
                <td class="tbl-150">
                    @if (AuthenticetionModel.hasPermission("UPDATE_CUSTOMER"))
                    {
                        <span oid="object-@item.Id" class="action-icon edit edit-customer">
                            <i class="fa fa-edit"></i>
                        </span>
                    }

                    </td>
            </tr>

        }
    </table>
    <div class="pagination-container" style="cursor:pointer">
        <nav aria-label="Page navigation example" style="position:unset;box-shadow:none; background:none;padding:0">
            <ul class="pagination" id="paginations">
                <li class="page-item page-link" data-page="prev">&lt;</li>
                @for (int i = 1; i <= ViewBag.pagi; i++)
                {
                    if (i == 1)
                    {
                        <li class="page-item page-link" data-page="page-1" style="background:#ddd">@i</li>

                    }
                    else
                    {
                        <li class="page-item page-link" data-page="page-@i">@i</li>
                    }
                }
                <li class="page-item page-link" data-page="next">&gt;</li>
            </ul>
        </nav>
    </div>
</div>
<div id="view-main">
    <div id="view-sub" class="col-11">
        <div class="col-12" id="view-title">
            <label>Update Customer</label>
            <span style="float:right; cursor:pointer" id="CloseForm">
                <i class="fa fa-window-close" style="pointer-events:none;font-size:38px"></i>
            </span>
        </div>
        <div id="content">
            @using (Html.BeginForm("CustomerUpdate", "Customers", FormMethod.Post, new { @id = "form-customer" }))
            {

        <div class="col-12" style="padding:20px;min-height:450px;display:table">
            <div class="col-6" style="border-right:3px solid #f4e8e4;min-height:inherit;float:left">
                <label class="text-color">
                    Phone:
                    <span class="text-readonly" id="ip-phone"></span>
                </label>
                <br />
                <label class="text-color">
                    Created at:
                    <span class="text-readonly" id="ip-created"></span>
                </label>
                <br />
                <label class="text-color">First name:</label>
                @Html.TextBoxFor(d => d.FirstName, new { @class = "input-form-cu", @type = "text", @placeholder = "first name", @id = "ip-first" })
                @Html.ValidationMessageFor(d => d.FirstName, "", new { @class = "_error", @id = "first-error" })
                <br />
                <label class="text-color">Last name:</label>
                @Html.TextBoxFor(d => d.LastName, new { @class = "input-form-cu", @type = "text", @placeholder = "last name", @id = "ip-last" })
                @Html.ValidationMessageFor(d => d.LastName, "", new { @class = "_error", @id = "last-error" })
                <br />


            </div> <div class="col-6" style="float:left">
                <label class="text-color">Email:</label>
                @Html.TextBoxFor(d => d.Email, new { @class = "input-form-cu", @type = "text", @placeholder = "email", @id = "ip-email" })
                @Html.ValidationMessageFor(d => d.Email, "", new { @class = "_error", @id = "email-error" })
                <br />
                <label class="text-color">Status:</label>
                @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.lsSTS, "Key", "Value"), new { @class = "dropdownlist", @id = "slt-sts" })
            </div>
        </div>
        <div class="col-12" style=" min-height: 70px; border-radius: 0 0 5px 5px; text-align:center">
            <button id="btnCusSave" type="submit" class="save btn-action pl-4 pr-4 pt-2 pb-2">Save</button>
            <a id="btnCusCancel" onclick="ResetForm()" class="cancel btn-action ml-1" style="cursor:pointer; padding:12px 25px">Cancel</a>
        </div>
            }
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
         var mess = "@(post_office.Controllers.Administrator.CustomersController.mess)";
         if (mess != "")
             ShowMessage(true, mess)

           @{post_office.Controllers.Administrator.CustomersController.mess = "";}
    });

    var pages = 1;

    function ClearFilter() {
        $("#search-by-name").val("");
       $("#search-by-status").val(-1);
        SearchFilter(1);
    }
    $("#btnCusSave").click(function () {

        localStorage.setItem("mySession", "__cus")
        localStorage.setItem("title", "CUSTOMERS")
        ShowWaiting(800);
        ShakeError();
    });
      $("#CloseForm").click(function () {
        ResetForm();
      });

    function ResetForm() {
        CloseForm();
        @{post_office.Controllers.Administrator.CustomersController._id = 0; }
        ResetValidate();
        $("#form-customer").trigger("reset");

    }
    $('body').delegate('.edit-customer', 'click', function () {

        var id = parseInt($(this).attr("oid").replace("object-", ""));
        var fdt = new FormData();
        fdt.append("id", id);

        if (id != 0) {
            ShowWaiting(500);

             $.ajax({
                type: "POST",
                url: "@Url.Action("GetCustomer", "Customers")",
                data: fdt,
                processData: false,
                contentType: false,
                 success: function (data) {
                     $("#slt-sts").val(data.Status);
                     $("#ip-first").val(data.FirstName);
                     $("#ip-last").val(data.LastName);
                     $("#ip-email").val(data.Email);
                     $("#ip-phone").html(data.Phone);
                     $("#ip-created").html(moment(data.CreatedAt).format("DD/MM/YYYY HH:mm"));

                }
            });
        }

        $("#view-main").css("display", "block");



    });

window.onload = function () {
        var mess = "@(post_office.Controllers.Administrator.CustomersController.mess)";

        if (mess == !"")
            ShowMessage(true, mess)

           @{post_office.Controllers.Administrator.CustomersController.mess = "";}
    }
          $('body').delegate('.page-item', 'click', function () {

        var str = $(this).attr("data-page");

        var re = document.getElementsByClassName('page-item');
        for (var i = 0; i < re.length; i++) {
            $(re[i]).css("background", "#fafafa");
        }

        if (str == "prev" && pages >= 1) {

            if (pages == 1) {
                pages = 1;
                $('[data-page="page-1"]').css("background","#ddd");
                    return;

            } else {
                pages -= 1;

            }

        } else if (str == "next" && pages <=@ViewBag.pagi) {
            if (pages ==@ViewBag.pagi) {
                pages = @ViewBag.pagi;
                $('[data-page="page-'+pages+'"]').css("background", "#ddd");

                return;
            } else {
                pages += 1;

            }


        } else {
            if (pages == parseInt(str.replace("page-", ""))) {
                pages = -1;
            } else {
                pages = parseInt(str.replace("page-", ""));
            }
            $(this).css("background", "#ddd");
        }
         SearchFilter(pages);


    });
    function LoadDataCustomer( page,  cond, status) {

        if (page > 0 && page <=@ViewBag.pagi) {
            document.getElementById("check-all").checked = false;

            var r = document.getElementsByClassName('table-item');
            while (r.length > 0) {
                r[0].parentNode.removeChild(r[0]);
            }
            var formDT = new FormData();
            formDT.append("p", page);
            formDT.append("cond", cond);
            formDT.append("status", status);
            var row = page == 1 ? 1 : 10 * (page - 1) + 1;
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadDataCustomer", "Customers")",
                data: formDT,
                processData: false,
                contentType: false,
                success: function (data) {
                    var edit = "";
                    for (var i = 0; i < data.length; i++) {
                             if ("@post_office.Models.AuthenticetionModel.hasPermission("UPDATE_CUSTOMER")"=="True") edit = '<span oid="object-' + data[i].Id + '" class="action-icon edit edit-customer" > <i class="fa fa-edit"></i></span>';

                            var str = '<i class="fa fa-check-circle" style="color:#16e42c; font-size:20px;"></i>';
                            if (data[i].Status != 1) { str = '<i class="fa fa-check-circle" style="color:#d6d2d2; font-size:20px;"></i>'; }
                            var value = '<tr class="table-item"> <td class="tbl-10"><input type="checkbox" class="sub-check" post-item="post-'+data[i].Id+'" /></td>'+
                                        ' <td class="tbl-60">'+row+'</td> <td class="tbl-180">'+data[i].FirstName+'</td> <td class="tbl-180">'+data[i].LastName+'</td> <td class="tbl-150">'+data[i].Phone+'</td>'+
                                          '<td class="tbl-150">'+data[i].Email+'</td> <td class="tbl-110">'+moment(data[i].CreatedAt).format("DD/MM/YYYY HH:mm")+'</td>'+
                                         ' <td class="sts-item tbl-40" id="sts-">'+str+' </td> <td class="tbl-150">'+edit+' </td> </tr>';

                            $("#table-id").append(value);
                            row = row + 1;


                        }


                    var f = new FormData();
                    f.append("cond", cond);
                    f.append("status", status);
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetCountCustomer", "Customers")",
                        data: f,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            var fdt = new FormData();
                            fdt.append("i", data);
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("RowEvent", "Customers")",
                                data: fdt,
                                processData: false,
                                contentType: false,
                                success: function (dt) {
                                    var r = document.getElementsByClassName('page-item');
                                    while (r.length > 0) {
                                        r[0].parentNode.removeChild(r[0]);
                                    }
                                    var strs = "";
                                    for (var j = 1; j <= dt; j++) {
                                        if (j == page) {
                                            strs += '<li class="page-item page-link" data-page="page-'+j+'" style="background:#ddd">' + j + '</li>';

                                        }
                                        else {
                                            strs += '<li class="page-item page-link" data-page="page-' + j + '">' + j + '</li>'
                                        }
                                    }
                                    $("#paginations").append('<li class= "page-item page-link" data-page="prev" >&lt;</li > ' + strs + '<li class= "page-item page-link" data-page="next"  >&gt;</li>');

                                }
                            });

                        }

                    });
                }
            });

        }
    }

    $("#search-by-name").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            SearchFilter(1);

        }

    });
    $("#search-by-status").change(function () {
        SearchFilter(1);

    });

    function SearchFilter(page) {
        ShowWaiting(800);
        var nameSearch = $("#search-by-name").val();
        var status = $("#search-by-status").val();
        LoadDataCustomer(page, nameSearch, status);
    }
     $("#btnDeactivated").click(function () {
        GetListToChangeStatus(0)
    });
    $("#btnActivated").click(function () {
        GetListToChangeStatus(1)
    });
    function GetListToChangeStatus(status) {
        if (CheckCheckbox()) {
            ShowWaiting(6000);
            localStorage.setItem("mySession", "__cus")
            localStorage.setItem("title", "CUSTOMERS")
            checkboxes = document.getElementsByClassName('sub-check');
            if (confirm("Are you sure to "+(status==1?"activate":"deactivate")+" these item(s)?")) {
                var fdt = new FormData();
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked == true) {
                        var r = $(checkboxes[i]).attr("post-item").replace("post-", "");
                        fdt.append("ls", r);
                    }
                }
                fdt.append("status",status)
                $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeStatusCustomer", "Customers")",
                data: fdt,
                processData: false,
                contentType: false,
                 success: function () {
                      window.location.href = "@Url.Action("Index","Customers")"

                }
            });
                ResetCheckbox();
            }
        }
    }
</script>